{
    "name": "minion-cni-network",
        "type": "multus",
        "kubeconfig": "/etc/kubernetes/admin.conf",
        "delegates": [{
            "name":"mynet",
            "cniVersion":"0.3.1",
            "type":"ovs",
            "ovsBridge":"mbr0",
            "ipam":{
                "type":"centralip",
                "ipType": "cluster",
                "network":"{{ default_network_subnet }}",
                "etcdURL": "https://{{etcd_access_address}}:2379",
                "etcdCertFile": "/etc/ovs/certs/cert.crt",
                "etcdKeyFile": "/etc/ovs/certs/key.pem",
                "etcdTrustedCAFileFile": "/etc/ovs/certs/ca_cert.crt"
            },
            "masterplugin": true
        }]
}
