{
    "name": "multus-cni-network",
        "type": "multus",
        "kubeconfig": "{{ kube_config_dir }}/node-kubeconfig.yaml",
        "delegates": [{
            "name": "multus-cni",
            "nodename": "{{ ansible_hostname }}",
            "type": "calico",
            "etcd_endpoints": "{{ etcd_access_addresses }}",
            "etcd_cert_file": "{{ etcd_cert_dir }}/node-{{ inventory_hostname }}.pem",
            "etcd_key_file": "{{ etcd_cert_dir }}/node-{{ inventory_hostname }}-key.pem",
            "etcd_ca_cert_file": "{{ etcd_cert_dir }}/ca.pem",
            "log_level": "info",
            "ipam": {
                "type": "calico-ipam"
            },
            "kubernetes": {
                "kubeconfig": "{{ kube_config_dir }}/node-kubeconfig.yaml"
            },
            "masterplugin": true
        }]
}
